<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>设计师学习</title>
    {% include 'import_base.html' %}
    <link rel="stylesheet" href="{% static 'admin/css/plugins/blueimp/css/blueimp-gallery.min.css' %}">
</head>
<body>
    {% include 'index/index_nav.html' %}
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
                    <div class="row">
                        {% for contact in contacts %}
                            <div class="col-sm-6 col-md-3" >
                                <div class="thumbnail">
                                    <a href="{% url 'front:object_detail' id=contact.id %}" class="thumbnail">
                                        {% if contact.property.images == "[]" %}

                                        {% else %}
                                            <img class="img-thumbnail" src="{{ contact.property.images.0.src }}" alt="{{ contact.property.images.0.alt }}"
                                             style="height: 130px">
                                        {% endif %}
                                    </a>
                                    <div class="caption">
                                        {% if contact.property.name|length > 7 %}
                                            <h3>{{ contact.property.name|truncatechars:8 }}...</h3>
                                        {% else %}
                                           <h3>{{ contact.property.name }}</h3>
                                        {% endif %}
                                        <p>
                                            <a href="{% url 'front:object_detail' id=contact.id %}"
                                               class="btn btn-primary btn-md center"  role="button">查看详情</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row">
                <nav aria-label="Page navigation" class="text-center">
                    <ul class="pagination center-nav" >
                        {% if contacts.has_previous %}
                            <li>
                                <a href="?page={{ contacts.start_index }}" aria-hidden="true">
                                    <span aria-hidden="true">&laquo;&laquo;</span>
                                </a>
                            </li>
                            <li>
                                <a href="?page={{ contacts.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>

                        {% endif %}
                        {% for page in pages %}
                            {% if page == contacts.number %}
                                <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
                            {% else %}
                                <li><a href="?page={{ page }}">{{ page }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if contacts.has_next %}
                            <li>
                                <a href="?page={{ contacts.next_page_number }}" aria-hidden="true">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            <li>
                                <a href="?page={{ contacts.end_index }}" aria-hidden="true">
                                    <span aria-hidden="true">&raquo;&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</body>
</html>
