<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>设计师学习-导航</title>
    {% include 'import_base.html' %}
</head>
<body>
    {% include 'index/index_nav.html' %}
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <svg></svg>
        </div>
    </div>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script>

        $(document).ready(function() {
            $.get("{% url 'admin:find_graph' %}",function(dataJson){
                //GroupExplorer constructing function
                //this is one way to create a javascript object
                function GroupExplorer(data){
                    //create an object-include some data
                    //this is an another way to create a javascript object
                    var defaultConfig = {
                        data:{"nodes":[],"links":[]},//critical data set
                        windowWidth:window.innerWidth,
                        windowHeight:window.innerHeight,
                        defaultLinkDistance:50
                    };
                    //because the initial "data" is null,
                    //so you need use jquery syntax "extend" to merge the json data
                    //below,merge "data" into "defaultWindow"
                    //"true" mean do not cover
                    //details see jquery API document
                    $.extend(true,defaultConfig,data);
                    //so now we get the json file that we need
                    //no let`s begin,transform json file to force graph data
                    //but first ,we need to get "svg"
                    var svg = d3.select("svg");


                    svg.attr("width",defaultConfig.windowWidth);
                    svg.attr("height",defaultConfig.windowHeight);
                    defaultConfig.data.links.forEach(function(e){
                        if(typeof e.source=="number"&&typeof e.target=="number"){
                            var sourceNode = defaultConfig.data.nodes.filter(function(n){
                                return n.id === e.source;
                            })[0];
                            var targetNode = defaultConfig.data.nodes.filter(function(n){
                                return n.id === e.target;
                            })[0];
                            e.source = sourceNode;
                            e.target = targetNode;
                        }
                    });



                    function zoomed() {
                        //svg.select('g').attr("transform", d3.event.transform);
                        svg.selectAll('g').attr("transform", d3.event.transform);
                    }
                    svg.call( d3.zoom()
                        .scaleExtent( [ 0.5, 10 ] )
                        .on( "zoom", zoomed ) );

                    //create a force graph
                    var forceSimulation = d3.forceSimulation()
                        .force("link",d3.forceLink())
                        .force("charge",d3.forceManyBody().strength(-500))
                        .force("center",d3.forceCenter(defaultConfig.windowWidth/2,defaultConfig.windowHeight/2));
                    //transform nodes data
                    forceSimulation.nodes(defaultConfig.data.nodes)
                        .on("tick",ticked);
                    //tranform links data
                    forceSimulation.force("link")
                        .links(defaultConfig.data.links)
                        .distance(defaultConfig.defaultLinkDistance);
                    console.log(defaultConfig.data.nodes);
                    console.log(defaultConfig.data.links);

                    //draw links
                    var links = svg.append("g")
                        .selectAll("line")
                        .data(defaultConfig.data.links)
                        .enter()
                        .append("line")
                        .attr("x1",function(n){return n.source.x})
                        .attr("y1",function(n){return n.source.y})
                        .attr("x2",function(n){return n.target.x})
                        .attr("y2",function(n){return n.target.y})
                        .attr("stroke","brown")
                        .attr("stroke-width",1)
                        .attr("marker-end","url(#marker)");
                    //draw links-text
                    var links_text = svg.append("g")
                        .selectAll("text")
                        .data(defaultConfig.data.links)
                        .enter()
                        .append("text")
                        .attr("x",function(e){
                            return (e.source.x+e.target.x)/2;
                        })
                        .attr("y",function(e){
                            console.log(e.source.y+"+"+e.target.y);
                            return (e.source.y+e.target.y)/2;
                        })
                        .attr("font-size",10);
                        //.text(function(e){return e.type}); //线上文字
                    //draw nodes group = node+node-text
                    var nodes_g = svg.append("g")
                        .selectAll("g")
                        .data(defaultConfig.data.nodes)
                        .enter()
                        .append("g")
                        .attr("transform",function(e){
                            return "translate("+e.x+","+e.y+")";
                        })
                        .on("click",function(node){
                            window.location.href = "/index/object/"+node.id+"/";
                            console.log(node.id);
                            //单机事件
                        })
                        .call(d3.drag()
                            .on("start",started)
                            .on("drag",dragged)
                            .on("end",ended));
                    //draw nodes
                    nodes_g.append("circle")
                        .attr("r",15)
                        .attr("fill",function(e) {
                            if(e.label == "Design"){
                                return d3.rgb(255,200,255)
                            }else if(e.label == "Concept"){
                                return d3.rgb(0,255,200)
                            }else{
                                return d3.rgb(0,255,255)
                            }
                        });
                    //draw node-text
                    nodes_g.append("text")
                        .attr("text-anchor","middle")
                        .attr("font-size",10)
                        .text(function(e){return e.name});
                    nodes_g.append("svg:title")
                    .text(function(node) {
                        var link=links[node.index];
                         return "双击查看详情"
                     });

                    function started(d){
                        if(!d3.event.active){
                            forceSimulation.alphaTarget(0.8).restart();
                        }
                        d.fx = d.x;
                        d.fy = d.y;
                    }
                    function dragged(d){
                        d.fx = d3.event.x;
                        d.fy = d3.event.y;
                    }
                    function ended(d) {
                        if(!d3.event.active){
                            forceSimulation.alphaTarget(0);
                        }
                        d.fx = null;
                        d.fy = null;
                    }
                    function ticked(){
                        links
                            .attr("x1",function(n){return n.source.x})
                            .attr("y1",function(n){return n.source.y})
                            .attr("x2",function(n){return n.target.x})
                            .attr("y2",function(n){return n.target.y})
                        links_text
                            .attr("x",function(e){
                                return (e.source.x+e.target.x)/2;
                            })
                            .attr("y",function(e){
                                return (e.source.y+e.target.y)/2;
                            })
                        nodes_g
                            .attr("transform",function(e){
                                return "translate("+e.x+","+e.y+")";
                            })
                    }
                }
                //because in the way of creating a javascript object,
                //you need to use "new" to use it
                new GroupExplorer({data:dataJson});
            })
        });

    </script>
</body>

</html>