{% extends 'admin/admin_nav.html' %}

{% block content %}
    <div id="main" style="height: 600px;text-align: center">
        <H2>欢迎来到知识管理后台,{{ request.user.first_name }}{{ request.user.last_name }}</H2>
        <hr>
        <div class="row">
            <div class="col-lg-3">
                <div class="ibox ">
                    <div class="ibox-title">
                        <span class="label label-success float-right">User</span>
                        <h5>用户数</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{ user_number }}</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ibox ">
                    <div class="ibox-title">
                        <span class="label label-info float-right">Node</span>
                        <h5>节点数</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{ node_number }}</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ibox ">
                    <div class="ibox-title">
                        <span class="label label-primary float-right">Link</span>
                        <h5>关系数</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{ link_number }}</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ibox ">
                    <div class="ibox-title">
                        <span class="label label-danger float-right">UserData</span>
                        <h5>用户提交数据</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{ user_node }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}