{% extends 'admin_nav.html' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>修改节点<small>留空亦为不修改</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form action="{% url 'admin:edit_node' %}" method="post" enctype="multipart/form-data">
                        <input name="id" type="text" value="{{ data.id }}" style="display: none">
                        <div class="form-group  row"><label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-form-label">名字</label>
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                <input name="name" type="text" class="form-control" value="{{ data.property.name }}">
                                <span class="form-text m-b-none">
                                    {% for foo in name %}
                                        {{ foo }}
                                    {% endfor %}
                                    {% for foo in errors.name %}
                                        {{ foo }}
                                    {% endfor %}
                                </span>
                            </div>
                        </div>

                        <div class="form-group  row"><label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-form-label">外文名</label>
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                <input name="english" type="text" class="form-control" value="{{ data.property.english }}">
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group  row"><label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-form-label">标签</label>
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                <p class="form-control-static">{{ data.label }}</p>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group  row"><label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-form-label">简介</label>
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                <textarea name="description" type="text" class="form-control" rows="3">{{ data.property.description }}</textarea>
                                <span class="form-text m-b-none">
                                    {% for foo in errors.description %}
                                        {{ foo }}
                                    {% endfor %}</span>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group  row"><label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-form-label">上传新的图片</label>
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                <input id="file-5" name="image" class="file" type="file"
                                       multiple data-preview-file-type="any"
                                       data-upload-url="{% url 'admin:upload_images' id=data.id %}" data-preview-file-icon="">
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group  row">
                            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-form-label">删除图片</label>
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                <a data-toggle="modal" class="btn btn-primary" href="#modal-form">删除图片</a>


                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group  row">
                            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-form-label">相关链接</label>
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                <input name="url" type="text" class="form-control" value="{{ data.property.url }}">
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
                                <button class="btn btn-white btn-sm" type="button">取消</button>
                                <button class="btn btn-primary btn-sm" type="submit">保存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-form" class="modal fade" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td>图片</td>
                                    <td>操作</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for url in data.property.img_url %}
                                    <tr>
                                        <td><img src="{{ url }}" alt="" style="max-height: 60px"></td>
                                        <td>
                                            <form action="{% url 'admin:delete_images' %}" method="post">
                                                <input name="url" style="display: none" type="text" value="{{ url }}">
                                                <input name="id" style="display: none" type="text" value="{{ data.id }}">
                                                <button type="submit" class="btn btn-primary btn-sm">删除图片</button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    $('.custom-file-input').on('change', function() {
       let fileName = $(this).val().split('\\').pop();
       $(this).next('.custom-file-label').addClass("selected").html(fileName);
    });
    $(document).ready(function() {
        $("#test-upload").fileinput({
            'showPreview': false,
            'allowedFileExtensions': ['jpg', 'png', 'gif'],
            'elErrorContainer': '#errorBlock'
        });
    });
    $("#file-5").fileinput();

    // with plugin options
    $("#file-5").fileinput({'showUpload':false, 'previewFileType':'any'});
    </script>
{% endblock %}