{% extends 'index_nav.html' %}

{% block content %}\
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
            <div class="row">
                {% for contact in contacts %}
                    <div class="col-sm-6 col-md-3" >
                        <div class="thumbnail">
                            <a href="{% url 'front:object_detail' id=contact.id %}" class="thumbnail">
                                <img class="img-thumbnail" src="{{ contact.property.img_url.0 }}" alt="..."
                                     style="height: 130px">
                            </a>
                            <div class="caption">
                                <h3>{{ contact.property.name }}</h3>
                                <p>
                                    <a href="{% url 'front:object_detail' id=contact.id %}"
                                       class="btn btn-primary btn-sm"  role="button">查看详情</a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <nav aria-label="Page navigation" class="text-center">
            <ul class="pagination center-nav" >
                {% if contacts.has_previous %}
                    <li>
                        <a href="?page={{ contacts.start_index }}" aria-hidden="true">
                            <span aria-hidden="true">&laquo;&laquo;</span>
                        </a>
                    </li>
                    <li>
                        <a href="?page={{ contacts.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                {% endif %}
                {% for page in pages %}
                    {% if page == contacts.number %}
                        <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
                    {% else %}
                        <li><a href="?page={{ page }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if contacts.has_next %}
                    <li>
                        <a href="?page={{ contacts.next_page_number }}" aria-hidden="true">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li>
                        <a href="?page={{ contacts.end_index }}" aria-hidden="true">
                            <span aria-hidden="true">&raquo;&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>


{% endblock %}